.home {
  padding-left: 5vw;
  padding-right: 5vw;

  @media (screen and max-width: 900px) {
    padding: 0;
  }

  .heading {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;

    img {
      max-width: 20rem;
    }

    @media (screen and max-width: 800px) {
      flex-direction: column-reverse;
      gap: 1rem;
    }

  }

  a {
    text-decoration: none;
    color: unset;
  }

  .learn {
    text-align: center;


  }
  .supply {

  }
  .signup-ctr {
    width: 100%;
    display: flex;
    justify-content: center;
    .signup {
      width: 50%;
      text-align: center;

      @media (screen and max-width: 500px) {
        width: 100%;

        input {
          margin-bottom: 1rem;
        }
      }
    }
  }
}