@use '../../variables.scss' as v;

.product {
  margin-top: 2rem;
  .product-info {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    .product-image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }
    .product-text {
      width: 55%;

      h2 {
        margin: 0;
      }

      p {
        margin-top: .5rem;
      }

      .source {
        display: block;
        background-color: v.$light-grey;
        width: fit-content;
        max-width: 100%;
        padding: .15rem .5rem;
        border-radius: .5rem;
        margin-bottom: .5rem;
        margin-top: .25rem;
      }

      .description {

        h4 {
          margin-bottom: 1rem;
        }

        margin-bottom: 2rem;

      }

      .field {
        margin-bottom: 2rem;
      }

      .buttons {
        width: 100%;
        display: flex;
        gap: 1rem;

        button {
          position: relative;
          img {
            width: 1rem;
            margin-left: .2rem;
          }

          .supply-link {
            color: v.$white;
            text-decoration: none;
          }
        }


      }
    }
  }
}