@use './variables.scss' as v;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;

  a {
    color: v.$primary-dark;
    font-weight: 500;
  }

  .breadcrumbs {

  }
}

button {
  border-radius: .75rem;

  font-size: 1.25rem;
  &.primary {
    background-color: v.$primary-dark;
    color: v.$white;
    padding: 0 1.6rem;
    border: none;


    font-weight: 500;
    line-height: 3rem;
  }

  &.secondary {
    background-color: v.$white;
    border: .15rem solid v.$primary-med;
    color: v.$primary-med;
    padding: .65rem 1.6rem;

  }
}