@use './variables.scss' as v;

html {
  font-size: 16px;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;

  a {
    color: v.$primary-dark;
    font-weight: 500;
  }

  .breadcrumbs {

  }
}